# pip requirements file for development of twisted-hl7
#
# Usage:
#
#     pip install -r requirements.txt

# setup.py develop (will grab twisted-hl7's dependencies)
-e ./

Sphinx==1.2.2
mock==1.0.1
flake8==2.2.2
