# pip requirements file for development of txHL7
#
# Usage:
#
#     pip install -r requirements.txt

# setup.py develop (will grab txHL7's dependencies)
-e ./

Sphinx==1.2.2
repoze.sphinx.autointerface==0.7.1
mock==1.0.1
flake8==2.5.4
pep8==1.7.0
isort==4.2.5
tox==2.3.1
wheel==0.38.1
